#root{
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.header{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-icon{
  margin: 1em;
}

.title-with-logo{
  display: flex;
  flex-direction: row;
  padding: .5em 1em;
  align-items: center;
  justify-content: center;
}

.app-logo{
  height: 2em;
  margin-right: 1em;
}

.header-title{
  margin: 0;
}

.nav-list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.sidebar-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.sidebar-list li{
  padding: .5em;
}

.nav-list li{
  padding: .25em;
  flex: 1 1;
  border: 1px solid #494949;
}

.container{
  padding: .5em;
}

.sidebar{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  background: #494949;
  z-index: 50;
}

.imgPlanet{
  max-width: 20%;
	height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

